.section.banner
  .row
    .col-1-2.padding-20
      %h1.logo Archaeology<em>NI</em>
      %p.blurb We are a heritage company that provides a unique range of historical services to both the public and private sector.  
      %p From bespoke events management to our unique schools programmes, Archaeology NI provides a new way to interact with and view of our Islands Past.  
      %br
      .contact-wrapper
        = link_to "Get in touch", contact_path, class: "contact-us",  data: { no_turbolink: true } 

    .col-1-2.padding-20
      #carousel.carousel.slide{ data: { interval: "5000" } } 
        .carousel-inner
          .item.active
            = image_tag "banner_1.jpg"
          .item
            = image_tag "banner_2.jpg"
          .item
            = image_tag "banner_3.jpg"

        = link_to "#carousel", class: "left carousel-control", role: "button", data: { slide:"prev" } do
          %span.glyphicon.glyphicon-chevron-left
            
        = link_to "#carousel", class: "right carousel-control", role: "button", data: { slide:"next" } do
          %span.glyphicon.glyphicon-chevron-right
            
.section.summary
  .row
    .col-1-2.who-we-work-with
      = icon("users", '', class: "fa-5x")
      %h3 Who we work with
      %p Our clients have included schools, museums, councils, public bodies, tour operators, community organisations, and private companies.  
    .col-1-2.local-heritage
      = icon("university", '', class: "fa-5x")
      %h3 Local Heritage
      %p Archaeology NI aims to promote local heritage and history through archaeological discovery and exploration.

%h2.section-heading What we do.
.section.what-we-do
  .row
    .col-1-3.left-col
      = image_tag "banner_2.jpg", class: "img-border"
      %h3 Hands on History
      %p Hands on History combines the two main elements of archaeological discovery together, the archaeological sites we dig and the artefacts we unearth.
      = link_to "Hands on History", hands_on_history_path, class: "underline-link"
    .col-1-3.middle-col
      = image_tag "school_dig.jpg", class: "img-border"
      %h3 Education
      %p Our educational programme guides, motivates and encourage children to draw together diverse threads of evidence in order to give relevance to everyday objects, places and landscapes.
      = link_to "School Dig", education_path, class: "underline-link"

    .col-1-3.right-col
      = image_tag "bell.jpg", class: "img-border"
      %h3 Projects
      %p See some of our past projects.
      = link_to "Projects", projects_path, class: "underline-link"
