%footer.footer.col-1-1
  .col-1-5.grid-no-pad
    &nbsp;
  .col-1-5.grid-no-pad
    %ul.fa-ul
      %li
        %i.fa-li.fa.fa-phone.fa-2x
        %span= link_to "(+44) 028 90867848", "tel:(+44) 028 90867848"
      %li
        %i.fa-li.fa.fa-envelope.fa-2x
        %span= link_to "info@arc-ni.com", "mailto:info@arc-ni.com"

  .col-1-5.grid-no-pad
    %ul.fa-ul
      %li
        %i.fa-li.fa.fa-location-arrow.fa-2x
        %address Unit A17 Valley Business Centre,<br /> 67 Church Road,<br /> Northern Ireland,<br /> BT36 7LS

  .col-1-5.grid-no-pad
    %ul.fa-ul.social-nav
      %li
        = link_to content_tag(:i, "", class: "fa fa-twitter fa-2x" ), "http://twitter.com/IAR1"
      %li
        = link_to content_tag(:i, "", class: "fa fa-facebook fa-2x" ), "http://facebook.com/IrishArchaeologicalResearch"

  .clear

  .col-1-5.grid-no-pad
    &nbsp;
  .col-2-5.grid-no-pad
    .copyright
      %p= "©#{Time.now.year} ArchaeologyNI. All Rights Reserved."


