.nav-container
  .top.col-1-1
  %nav.nav
    %label.show-menu{ for: "show-menu" } 
      = icon("bars", '', class: "fa-2x")
    %input#show-menu{ type: "checkbox", role: "button" }
    %ul#menu
      %li.selected{ name: "/" }=  link_to "Home", root_path
      %li{ name: "/about" }=      link_to "About", about_path
      %li{ name: "/education" }=  link_to "Education", education_path
      %li{ name: "/museum" }=     link_to "Pop-up Museum", museum_path
      %li{ name: "/community" }=  link_to "Community Archaeology", community_path
    = link_to image_tag("company_logo_small.png", class: "brand"), root_path
