!!!
%html
  %head
    %title archaeologyNI
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body.grid
    = render 'layouts/navigation'
    %main.row
      = render 'layouts/sidebar'
      .content.col-3-5
        = yield
      = render 'layouts/footer'

